<ion-header>
  <ion-title>
    Shrestha Food Service
  </ion-title>
</ion-header>

<ion-content >
    <ion-card>
    <ion-card-content class="ion-no-margin">
      <ion-card-subtitle >
      Welcome to Shrestha Nepali Food Service website. 
      If you would like to have the reservation, then call us at
      915-255-6449.
      </ion-card-subtitle>

    </ion-card-content>
  </ion-card>
  <div class="container">
    <p>Lat: {{lat}}, Lng: {{lng}} </p>
    <ion-button (click)="Location"> Location</ion-button>
  </div>

  <ion-card class="ion-no-margin">
    <ion-img src="assets/images/image1.png"></ion-img>
    <ion-img src="assets/images/image2.png"></ion-img>
    <ion-img src="assets/images/image3.png"></ion-img>
    <ion-img src="assets/images/image4.png"></ion-img>
  </ion-card>

</ion-content>


 

