ion-title{
    text-align: center;
    font-weight:bold;
    font-size: 24px;
    color: #e71111
}
ion-content{
    background-color: transparent;
    
}

ion-card{
    --ion-background-color: #d65f10;
    --padding-start:0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    
}
ion-card-subtitle{
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    box-shadow: none !important;
    color: #330980
}

ion-image{
    --ion-background-color: transparent;
    box-shadow: none !important;

}

